[Desktop Entry]
Version=1.0
Type=Link
Name=PyMesh — Geometry Processing Library for Python — PyMesh 0.2.1 documentation
Comment=
Icon=user-bookmarks
URL=https://pymesh.readthedocs.io/en/latest/
