[Desktop Entry]
Version=1.0
Type=Link
Name=vertex - Import CAD object in Python and store as array - Stack Overflow
Comment=
Icon=user-bookmarks
URL=https://stackoverflow.com/questions/46901300/import-cad-object-in-python-and-store-as-array
